.container{
  font-size:25px;
  text-align:center;
  background-color:#87ceeb;
  padding-top:1px;
  padding-bottom:40px;
}

.sub{
  text-align:center;
}

#text {
  padding: 0.1em 0.1em;
}

#old {
  padding: 0.1em 0.1em;
  font-size: 70%;
}

.button {
  padding: 0.3em 0.3em;
  font-size: 70%;
}

